<div class="animated fadeInRight">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-md-3">
            <h2 class="text-info text-header">{{ currentDate | date:'EEEE' }}</h2>
            <small>{{ currentDate | date:'dd MMMM yyyy' }}</small>
            <div class="m-t">

            </div>
        </div>
        <div class="col-md-6">
                <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [colors]="barChartColors"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                </canvas>
        </div>
        <div class="col-md-3">
        </div>

    </div>
</div>