<div class="animated fadeInRight">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-md-3">
            <h2 class="text-info text-header">{{ currentDate | date:'EEEE' }}</h2>
            <small>{{ currentDate | date:'dd MMMM yyyy' }}</small>
            <div class="m-t">
                <!--<a [routerLink]="['somepath']" fragment="Test">Jump to 'Test' anchor </a>-->
            </div>
        </div>
        <div class="col-md-6">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="wrapper wrapper-content">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Diary Entries</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content inspinia-timeline">
                        <div class="timeline-item" *ngFor="let diaryEntry of diaryEntries">
                            <div class="row">
                                <div class="col-xs-2 date">
                                    <i class="fa fa-cutlery"></i> {{ diaryEntry.time | date:'HH:mm' }}
                                    <br>
                                    <small class="text-navy">Breakfast</small>
                                </div>
                                <div class="col-xs-10 content">
                                    <div class="col-xs-4">
                                        <p>
                                            {{diaryEntry.description}}
                                        </p>
                                        <h5><strong>Ingredients</strong></h5>
                                        <table class="table table-stripped small m-t-md">
                                            <tbody>
                                                <tr *ngFor="let foodItem of diaryEntry.foodItems">
                                                    <td class="no-borders">
                                                        <i class="fa fa-circle text-navy text-smaller"></i>
                                                    </td>
                                                    <td class="no-borders">
                                                        {{ foodItem.name }}
                                                    </td>
                                                    <td class="no-borders">
                                                        {{foodItem.weightInGrams}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-4">
                                        <div>
                                            <div>
                                                <h5 class="m-b-xs">Calories</h5>
                                                <div class="col-xs-6">
                                                    <h1 class="no-margins">550</h1>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="p-h-xs font-bold text-navy">26% <i class="fa fa-fire"></i></div>
                                                </div>
                                            </div>
                                            <table class="table small m-t-sm m-b-none">
                                                <tbody>
                                                    <tr>
                                                        <td>Fat</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedFats.totalFat}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">23%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturates</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedFats.saturatedFat}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">23%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sugars</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedCarbs.sugar}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">23%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Salt</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.mineralMap.SODIUM}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">23%</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="p-m" style="display: block">
                                            <canvas baseChart [data]="chartMap.get(diaryEntry.id)" [labels]="pieChartLabels" [chartType]="pieChartType" [legend]="pieChartLegend">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>