<simple-notifications [options]="notificationOptions"></simple-notifications>
<div class="animated fadeInRight">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-md-2 row">
            <div class="">
                <h2 class="text-info text-header">{{ activeDate | date:'EEEE' }}</h2>
                <small>{{ activeDate | date:'dd MMMM yyyy' }}</small>
            </div>
            <div class="m-t-xsm">
                <a class="btn btn-outline btn-link" [routerLink]="['/diary/', prevDate | date: urlDateTimeFormat]">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="" class="btn btn-outline btn-link fa-2x disabled" disabled aria-disabled="true">

                    <i class="fa fa-calendar">

                    </i>
                </a>
                <a class="btn btn-outline btn-link" [routerLink]="['/diary/', nextDate | date: urlDateTimeFormat ]">
                    <i class="fa fa-chevron-right"></i>
                </a>

            </div>
            <hr class="m-t-none">
            <div class="m-t">
                <a class="btn btn-sm btn-info" [routerLink]="['/diary/add/', activeDate | date: urlDateTimeFormat]">Add diary Entry
                    <i class="fa fa-plus-circle fa-2"></i>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <ul class="stat-list" *ngIf="totalDiaryNutrition && goalProfile && goalProfile.nutritionalInformation">
                <div *ngIf="goalProfile.id === null" class="col-sm-12 m-b-md well">

                    <h5 class="col-md-12 text-info">
                        These are generic nutrition targets
                    </h5>

                    <p class="col-md-7">
                        You can update these targets to be unique to you by adding your user settings and nutrition goals
                    </p>

                    <div class="col-md-5">
                        <a class="btn btn-sm btn-info m-t-sm" href="" [routerLink]="['/user/edit']">Edit user</a>
                        <a class="btn btn-sm btn-info m-t-sm" href="" [routerLink]="['/goals']">Edit goal</a>
                    </div>

                </div>
                <div class="col-sm-12 m-b-md">
                    <li>
                        <!--<h2 class="no-margins">2,346</h2>-->
                        <span class="">Total calories</span>
                        <div class="stat-percent">
                            {{ totalDiaryNutrition.calories}} / {{goalProfile.nutritionalInformation.calories}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.calories / goalProfile.nutritionalInformation.calories * 100 + '%'" class="progress-bar"></div>
                        </div>
                    </li>
                </div>

                <div class="col-sm-6">
                    <li>
                        <!--<h2 class="no-margins ">4,422</h2>-->
                        <small>Total Fat</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedFats.totalFat || 0}} / {{goalProfile.nutritionalInformation.consolidatedFats.totalFat}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]=" totalDiaryNutrition.consolidatedFats.totalFat / goalProfile.nutritionalInformation.consolidatedFats.totalFat * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Saturated fat</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedFats.saturatedFat || 0}} / {{goalProfile.nutritionalInformation.consolidatedFats.saturatedFat}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.consolidatedFats.saturatedFat / goalProfile.nutritionalInformation.consolidatedFats.saturatedFat * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Cholesterol</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedFats.cholesterol || 0}} / {{goalProfile.nutritionalInformation.consolidatedFats.cholesterol}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.consolidatedFats.cholesterol / goalProfile.nutritionalInformation.consolidatedFats.cholesterol * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Sodium</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.mineralMap.SODIUM || 0}} / {{goalProfile.nutritionalInformation.mineralMap.SODIUM}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="(totalDiaryNutrition.mineralMap.SODIUM || 0) / goalProfile.nutritionalInformation.mineralMap.SODIUM * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                </div>
                <div class="col-sm-6">
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Potassium</small>
                        <div class="stat-percent">{{totalDiaryNutrition.mineralMap.POTASSIUM || 0}} / {{goalProfile.nutritionalInformation.mineralMap.POTASSIUM}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="(totalDiaryNutrition.mineralMap.POTASSIUM || 0) / goalProfile.nutritionalInformation.mineralMap.POTASSIUM * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Total Carbohydrate</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedCarbs.total || 0}} / {{goalProfile.nutritionalInformation.consolidatedCarbs.total}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.consolidatedCarbs.total / goalProfile.nutritionalInformation.consolidatedCarbs.total * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Sugar</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedCarbs.sugar || 0}} / {{goalProfile.nutritionalInformation.consolidatedCarbs.sugar}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.consolidatedCarbs.sugar / goalProfile.nutritionalInformation.consolidatedCarbs.sugar * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                    <li>
                        <!--<h2 class="no-margins ">9,180</h2>-->
                        <small>Protein</small>
                        <div class="stat-percent"> {{totalDiaryNutrition.consolidatedProteins.protein || 0}} / {{goalProfile.nutritionalInformation.consolidatedProteins.protein}}
                        </div>
                        <div class="progress progress-mini">
                            <div [style.width]="totalDiaryNutrition.consolidatedProteins.protein / goalProfile.nutritionalInformation.consolidatedProteins.protein * 100 + '%'"
                                class="progress-bar"></div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-md-5">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Diary Entries</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content inspinia-timeline">

                        <div *ngIf="!diaryEntries">
                            No diary entries to display
                        </div>

                        <div class="timeline-item" *ngFor="let diaryEntry of diaryEntries">
                            <div class="row">
                                <div class="col-xs-1 date">
                                    <i class="fa fa-cutlery"></i>
                                    {{ diaryEntry.dateTime | date:'HH:mm' }}
                                    <br>
                                    <small class="text-navy">Breakfast</small>
                                </div>
                                <div class="col-xs-11 content">
                                    <div class="col-md-3">
                                        <table class="table table-hover m-t-md">
                                            <thead>
                                                <tr>
                                                    <th>Food</th>
                                                    <th>Serving
                                                        <i>(g)</i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let foodItem of diaryEntry.foodItemEntries">
                                                    <td>{{ foodItem.name }}</td>
                                                    <td>{{ foodItem.weightInGrams }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <div>
                                            <table class="table table-hover m-t-md">
                                                <thead>
                                                    <tr>
                                                        <th>Nutrition</th>
                                                        <th>Amount</th>
                                                        <th>Daily %</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Calories</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.calories}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{ diaryEntry.totalNutrionalnformation.calories / goalProfile.nutritionalInformation.calories
                                                                * 100 | number : '1.0-2' }}%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Fat</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedFats.totalFat}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{ diaryEntry.totalNutrionalnformation.consolidatedFats.totalFat
                                                                / goalProfile.nutritionalInformation.consolidatedFats.totalFat
                                                                * 100 | number : '1.0-2' }}%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Saturates</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedFats.saturatedFat}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{ diaryEntry.totalNutrionalnformation.consolidatedFats.saturatedFat
                                                                / goalProfile.nutritionalInformation.consolidatedFats.saturatedFat
                                                                * 100 | number : '1.0-2' }}%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sugars</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedCarbs.sugar}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{ diaryEntry.totalNutrionalnformation.consolidatedCarbs.sugar
                                                                / goalProfile.nutritionalInformation.consolidatedCarbs.sugar
                                                                * 100 | number : '1.0-2' }}%</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Salt</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.mineralMap.SODIUM}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{ diaryEntry.totalNutrionalnformation.mineralMap.SODIUM / goalProfile.nutritionalInformation.mineralMap.SODIUM
                                                                * 100 | number : '1.0-2' }}%</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="p-m" style="display: block">
                                            <canvas baseChart [data]="chartMap.get(diaryEntry.id)" [labels]="pieChartLabels" [colors]="pieChartColors" [chartType]="pieChartType"
                                                [legend]="pieChartLegend">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="m-t-md">
                                            <table class="table table-hover m-t-md">
                                                <thead>
                                                    <tr>
                                                        <th>Legend</th>
                                                        <th>Macro</th>
                                                        <th>(g)</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-pagelines text-navy" [style.color]="pieChartColors[0].backgroundColor[0]"></i>
                                                        </td>
                                                        <td>Carbs</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedCarbs.total}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{chartPercentageMap.get(diaryEntry.id)[0] | number : '1.0-2'
                                                                }}%
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-tint" [style.color]="pieChartColors[0].backgroundColor[1]"></i>
                                                        </td>
                                                        <td>Fats</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedFats.totalFat}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{chartPercentageMap.get(diaryEntry.id)[1] | number : '1.0-2'
                                                                }}%
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-fire" [style.color]="pieChartColors[0].backgroundColor[2]"></i>
                                                        </td>
                                                        <td>Protein</td>
                                                        <td>{{diaryEntry.totalNutrionalnformation.consolidatedProteins.protein}}</td>
                                                        <td>
                                                            <div class="font-bold text-navy">{{chartPercentageMap.get(diaryEntry.id)[2] | number : '1.0-2'
                                                                }}%
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12">
                                            <!-- <h4 class="text-center">Actions</h4>
                                            <hr> -->
                                            <div class="btn-group col-md-10 col-md-offset-2">
                                                <button type="button" class="btn btn-xs btn-white">View</button>
                                                <button type="button" class="btn btn-xs btn-white">Edit</button>
                                                <a (click)="toDeleteID=diaryEntry.id" data-toggle="modal" data-target="#deleteModal" type="button" class="btn btn-xs btn-white">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-trash modal-icon-danger"></i>
                <h4 class="modal-title">Are you sure?</h4>
                <small>Once this diary entry has been deleted there is no way to recover it.</small>
            </div>
            <div class="modal-body">
                <p>Do you want to delete Diary Entry ID: {{toDeleteID}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="delete(toDeleteID)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>