<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <form class="form-horizontal" [formGroup]="formGroup" novalidate (ngSubmit)="save(formGroup)">
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Add your own food</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" formControlName="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Calories per 100g</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="calsPer100" formControlName="calsPer100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Serving size</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="servingSize" formControlName="servingSize">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            Macro Nutriants
                            <small>carbs, protein, & fats</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total Fat</label>
                            <div class="col-sm-10">
                                <input class="touchspin2Decimal" type="text" value="" name="totalfat" formControlName="totalfat">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-3 control-label label-indented">Saturated</label>
                            <div class="col-sm-8">
                                <input class="touchspin2Decimal" type="text" value="" name="saturatedFat" formControlName="saturatedFat">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-3 control-label label-indented">Polyunsaturated</label>
                            <div class="col-sm-8">
                                <input class="touchspin2Decimal" type="text" value="" name="polyUnsaturatedFat" formControlName="polyUnsaturatedFat">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-3 control-label label-indented">Monounsaturated</label>
                            <div class="col-sm-8">
                                <input class="touchspin2Decimal" type="text" value="" name="monoUnsaturatedFat" formControlName="monoUnsaturatedFat">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cholesterol</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="cholesterol" formControlName="cholesterol">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total Carbohydrates</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="totalCarbs" formControlName="totalCarbs">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-3 control-label label-indented">Dietary fiber</label>
                            <div class="col-sm-8">
                                <input class="touchspin2Decimal" type="text" value="" name="fiber" formControlName="fiber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-3 control-label label-indented">Sugar</label>
                            <div class="col-sm-8">
                                <input class="touchspin2Decimal" type="text" value="" name="sugar" formControlName="sugar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Protein</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="protein" formControlName="protein">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sodium</label>
                            <div class="col-sm-10">
                                <input class="touchspinWhole" type="text" value="" name="sodium" formControlName="sodium">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>
                            Micro Nutriants
                            <small>vitamins & minerals</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Vitamin</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="vitaminFormArray">
                                <tr *ngFor="let VitaminRow of formGroup.controls.vitaminFormArray.controls; let i=index" [formGroupName]="i">
                                    <td class="col-xs-4">
                                        <ng-select 
                                        [options]="vitaminSelectArray" 
                                        [multiple]="false" 
                                        (selected)="onSelected($event)"
                                        formControlName="name">
                                        </ng-select>
                                    </td>
                                    <td class="text-navy col-xs-8">
                                        <input class="touchspinWhole form-control" type="text" value="" formControlName="value">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Mineral</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="mineralFormArray">
                                <tr *ngFor="let mineralRow of formGroup.controls.mineralFormArray.controls; let i=index" [formGroupName]="i">
                                    <td class="col-xs-4">
                                        <ng-select 
                                        [options]="mineralSelectArray" 
                                        [multiple]="false" 
                                        (selected)="onSelected($event)"
                                        formControlName="name">
                                        </ng-select>
                                    </td>
                                    <td class="text-navy col-xs-8">
                                        <input class="touchspinWhole form-control" type="text" value="" formControlName="value">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Add your own food</h5>
                    </div>
                    <div class="ibox-content">
                        <button type="button" class="btn btn-primary" type="submit">Save</button>
                        <button type="button" class="btn btn-default">Cancel</button> </div>
                </div>
            </div>
        </form>
    </div>
</div>