<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    This is a recipe food.
                </h1>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Food Selection</h5>
                </div>
                <div class="ibox-content">
                    <food-selection></food-selection>
                </div>
                <div class="ibox-footer">
                    <div class="pull-right">
                        <button class="btn btn-white" (click)="backClicked()" type="button">Cancel</button>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>