<div class="wrapper wrapper-content animated fadeInRight row">

    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Profile Detail</h5>
            </div>
            <div class="ibox-content">
                <div>
                    <div class="row">
                        <div class="row" *ngIf="userModel">
                            <div class="profile-image col-sm-4">
                                <img src="/assets/images/default-avatar.png" class="img-circle circle-border m-b-md"
                                     alt="profile">
                            </div>
                            <div class="col-sm-8">
                                <h2 class="no-margins">
                                    {{ userModel.firstname + ' ' + userModel.lastname }}
                                </h2>
                                <h4>{{ userModel.username }}</h4>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <table class="table small m-b-xs" *ngIf="userModel && userModel.userProfile">
                                <tbody>
                                <tr>
                                    <td>Sex</td>
                                    <td><strong>{{ userModel.userProfile.sex | lowercase }}</strong></td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td><strong>{{ userModel.userProfile.height }}</strong> cm</td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td><strong>{{ currentWeight }}</strong> kgs</td>
                                </tr>

                                <tr>
                                    <td>
                                        Food Items
                                    </td>
                                    <td>
                                        <strong>22</strong>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Meals
                                    </td>
                                    <td>
                                        <strong>54</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 m-t-md">
                            <h2 class="no-margins">Weight</h2>
                            <small>Tracked weight</small>
                            <div id="sparkline1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-footer">
                <div class="pull-right">
                    <button class="btn btn-primary" [routerLink]="['./edit']">Edit user</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Profile Activities</h5>
            </div>
            <div class="ibox-content">
                Some random activities
            </div>
        </div>
    </div>

</div>