<form [formGroup]="formGroup" novalidate (keydown.enter)="$event.preventDefault(); updateItems()">
    <div class="row">
        <div class="col-sm-12 m-t-md">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="col-sm-2 control-label">Search</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Please enter search term" [formControl]="searchField">
                            </div>
                        </div>
                        <div class="col-sm-1 loading-spinner">
                            <i *ngIf="loadingIndicator" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                        </div>
                        <div class="form-group col-sm-5">
                            <div class="btn-group">
                                <button *ngFor="let option of searchOptions;" [ngClass]="{active: searchOption===option.name}" (click)="assignSearchOption(option.name)"
                                    class="btn btn-white" type="button">
                                    {{option.label}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ngx-datatable [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'" [externalPaging]="true" [headerHeight]="45" [count]="page.totalElements"
                            [offset]="page.pageNumber" [limit]="page.size" [cssClasses]="cssClasses" [selected]="selected" [selectionType]="'checkbox'"
                            (page)='setPage($event)' (select)='onSelect($event)'>
                            <ngx-datatable-column name="ID" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name"></ngx-datatable-column>
                            <ngx-datatable-column name="ServingSize"></ngx-datatable-column>
                            <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="false"
                                [checkboxable]="true">
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- <div class="ibox-title">
                            <h5>Choosen food</h5>
                        </div> -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Choosen food
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover choosen-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Servings</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="foodItemFormArray">
                                    <tr *ngFor="let row of formGroup.controls.foodItemFormArray.controls; let i=index" [formGroupName]="i">
                                        <td class="col-sm-7">
                                            <span>{{row.controls.name.value}} ({{row.controls.servingSize.value}})</span>
                                        </td>
                                        <td class="col-sm-5">
                                            <span>
                                                <input (onCreate)="initTouchSpin(i)" class="touchspin2Decimal" type="text" value="" formControlName="servings">
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>