<!--

Setup new users component
- Set height / weight
- Goal setting

-->

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6 m-b-xl">
            <div class="ibox">
                <div class="ibox-title">
                    News Feed
                </div>
                <div class="ibox-content col-sm-12">
                    <div class="feed-activity-list">
                        <div class="feed-element" *ngFor="let feedItem of feedData">
                            <div class="media-body ">
                                <strong>{{feedItem.title}}</strong><br>
                                <small class="text-muted">{{feedItem.pubDate | date:'fullDate'}}</small>
                                <p [innerHTML]="feedItem.content">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    Task List
                </div>
                <div class="ibox-content col-sm-12">
                    <div class="new-user-message m-b-md well well-sm bg-warning col-sm-12"
                         *ngIf="userModel && (userModel.creationDateTime < todayPlus7)">
                        <div class="col-sm-10">
                            <strong>Hi there!</strong><br/>
                            As a new user make sure to complete these tasks to ensure a better Calmeter experience.
                        </div>
                        <div class="col-sm-2">
                            <i class="fa fa-3x fa-warning p-sm"></i>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-group clear-list m-t row">
                            <li class="list-group-item col-sm-12" *ngFor="let task of taskList; let i = index"
                                [ngClass]="{'first-item': i == 0}">
                                <a [routerLink]="[task.location]" class="text-primary">
                                    <div class="col-sm-1">
                                        <div>
                                            <i [ngClass]="task.icon" class="fa fa-2x fa-star-half-o"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 m-t-xs">
                                        <span class="">{{task.description}}</span>
                                    </div>
                                </a>
                                <div class="col-sm-3">
                                    <div *ngIf="task.taskStatus == 'OPEN'" class="text-warning">
                                        <span class="col-sm-8 m-t-xs">Open</span>
                                        <span class="col-sm-4"><i class="fa fa-2x fa-hourglass-start"></i></span>
                                    </div>

                                    <div *ngIf="task.taskStatus == 'COMPLETE'" class="text-info">
                                        <span class="col-sm-8 m-t-xs">Complete</span>
                                        <span class="col-sm-4"><i class="fa fa-2x fa-check"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>